<ion-content [fullscreen]="true">

  <ion-slides #slides pager="false">
    <ion-slide *ngFor="let d of data">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <h1 class="dlvr-intro-title" data-aos="fade-up">{{ d.title }}</h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <div class="dlvr-intro-img-wrapper">
              <img [src]="d.image" alt="intro1" class="responsive-img" data-aos="fade-up" />
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <div class="dlvr-intro-btn-wrapper">
              <ion-button expand="block" color="primary" shape="round" class=""
                (click)="goToNextSlide()">Next</ion-button>
              <p>{{ d.subtitle }}</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
