.dlvr-intro-title {
    font-size: calc(2vw + 16px);
    text-align: center;
    text-transform: uppercase;
    margin-top: calc(2vw + 90px); 
    color: var(--ion-color-primary);
 }

 .dlvr-intro-img-wrapper { 
    min-width: 330px;
    max-width: 400px;
}

.dlvr-intro-btn-wrapper {    
    text-align: center;
}