.center-dflex-white {
    position: absolute;
    top: 50%;
    width: 50%;
    /* margin: 0 auto; */
    /* margin: 0 auto; */
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    // color: #fff;
}

.center-dflex-white ion-img {
    // width: 100px;
    margin: 0 auto;
}

h2{
  font-weight: bold;
  font-size: 2.4rem;
  margin: 0;
}

p{
  text-transform: uppercase;
  font-size: 0.8rem;
  margin: 0;
  font-weight: bold;
}

