
<ion-content [fullscreen]="true" class="blue-background dflex">
  <app-emptyview [icon]="logo" [type]="'image'" [heading]="'Deliverist'" [message]="'Your delivery mate'"></app-emptyview>
</ion-content>
