<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-grid class="dlvr-login-wrapper">
    <ion-row>
      <ion-col size="12">
        <ion-grid class="dlvr-login-header">
          <ion-row>
            <ion-col size="12">
              <div class="dlvr-logo-wrapper">
                <img src="assets/images/logo.png" alt="logo" />
              </div>
            </ion-col>
            <ion-col size="12">
              <h2>Login</h2>
            </ion-col>
          </ion-row>
        </ion-grid>
        <form [formGroup]="loginForm">
          <div class="dlvr-input-text-options input-field">
            <img
              src="assets/images/user_icon.png"
              alt="user_icon"
              class="prefix"
            />
            <input
              type="text"
              class="dlvr-uikit-input dlvr-uikit-input-grey"
              placeholder="Email"
              formControlName="email"
            />
            <!-- <span class="dlvr-input-i"><i class="icon-phone"></i></span> -->
          </div>
          <p
            class="errorMessage"
            *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched"
          >
            Please enter valid Email.
          </p>
          <div class="input-field">
            <img
              src="assets/images/password_icon.png"
              alt="password_icon"
              class="prefix"
            />
            <input
              type="password"
              class="dlvr-uikit-input dlvr-uikit-input-grey"
              placeholder="Password"
              formControlName="password"
            />
          </div>
          <p
            class="errorMessage"
            *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched"
          >
            Please enter password.
          </p>
          <button
            class="btn-full-width dlvr-uikit-btn dlvr-uikit-btn-blue"
            style="margin-left:25%;"
            (click)="onLogin()"
            [disabled]="!loginForm.valid">
            Log in
          </button>
          <div class="dlvr-forgot-password">
            <a (click)="goToForgotPassword()">Forgot Password?</a>
          </div>
        </form>

        <ion-row class="center">
          <ion-col size="6">
            <button
              class="dlvr-connect-with google ion-margin-end"
              type="button"
              (click)="signInWithGoogle()"
            >
              <ion-col size="2">
                <img
                  src="assets/images/google_icon.png"
                  alt="google_icon"
                  class="circle responsive-img"
                />
              </ion-col>
              <ion-col size="11">
                <span class="small">Continue with</span>
                <p class="move-text-to-center">Google</p>
              </ion-col>
            </button>
          </ion-col>
          <ion-col size="6">
            <button
              class="dlvr-connect-with facebook"
              (click)="signInWithFB()"
            >
              <ion-col size="2">
                <img
                  src="assets/images/facebook_icon.png"
                  alt="facebook_icon"
                  class="circle responsive-img"
                />
              </ion-col>
              <ion-col size="11">
                <span class="small">Continue with</span>
                <p>Facebook</p>
              </ion-col>
            </button>
          </ion-col>
        </ion-row>

        <div class="dlvr-login-footer">
          <p>
            By Signing in you accepts the Terms of Services and Privacy Policy
          </p>
          <a
            class="center"
            (click)="goToSignUp()"
            class="
              pointer-cursor
              dlvr-uikit-btn dlvr-uikit-btn-green
              btn-full-width
            "
            >Create new account</a
          >
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
